/* general */
html{
    background-color: #999999;
    font-family: Helvetica, verdana, sans-serif;
}
html body{
    line-height: 120%;
	margin:0 auto;
}

/* banner */
img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 45%;
    border-radius: 50%;

}
h1#title{
    color:#111;
	font-family:'Enriqueta', sans-serif;
	font-size: 44px;
	font-weight:bold;
	letter-spacing: -1px;
	line-height: 1;
	text-decoration: none;
    text-align: center;
}
h1{
	color:#111;
	font-family:'Enriqueta', sans-serif;
	font-size: 44px;
	font-weight:bold;
	letter-spacing: -1px;
	line-height: 1;
	text-decoration: none;
	
}
#contactlinks{
    display: flex;
justify-content: center;
align-items: center;
}
#contactlinks div{
    height: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: darkgray;
    
}
#page div:not(.filler){
    background-color: darkgray;
}
.main{
    flex: 70%;
    background-color:#666666;
}

.map{
    display: flex;
    width: 100%;
    align-content: center;
}
iframe{
    width: 100%;
    height: auto;
}
.filler{
    display: flex;
    /*height: 400px;*/
      align-items: center;
  justify-content: center;
}

img{
     max-width:100%;    
    max-height:100%;
}
.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

/* text */
h2{
    padding:0px 10px 0px 15px;
    text-align: center;
	color:black;
	font-size:25px;
	line-height:140%;
}
h3{
    padding:0px 10px 0px 15px;
	color:black;
	font-size:20px;
	line-height:125%;
	text-align: center;
}
p{
    padding:0px 10px 10px 15px;
	color:black;
    font-size:14px;
    text-align: center;
}
a{
    text-decoration: underline;
    color: darkblue;
    font-weight: 600;
    
}

/* form */
form p{
    text-align:center;
}
form>p{
    padding: 0px;
}
label{
    font-size:18px;
    font-style: oblique;
}
input{
  
    padding:5px 15px; 
    background:#ccc; 
    border-radius: 5px;
}
select{
    padding:5px 15px; 
    background:#ccc; 
    border-radius: 5px;
}
textarea{
    padding:5px 15px; 
    background:#ccc; 
    border-radius: 5px;
}



/* nav */


nav ul{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    width: 100%;
    padding: 0px;
    margin-bottom: 5px;
}
nav ul li {
    display: flex;

    border:1px solid #999999;
    width: 33.33%;
}
nav ul li a{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: large;
	text-align:center;
    text-decoration:none;
}
nav ul li:hover:not(#active) {
    background-color: #8B0000;
}

/* main */ 


main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
	margin-top:0px;
    margin-bottom: 10px;
}

/* form */
/* footer */
.gegevens{
    text-align: center;
}
footer{
	text-align:center;
	clear:both;
	
	height:100%;
    color: #8b9099;
	background-color:#333;
    width:100%;

}
footer address{
    border-top: 2px solid #db3832;
    font-size: 75%;
    font-style: italic;
    line-height: 1;
}

@keyframes yAs{
    50%{
        animation-timing-function: ease-in;
        transform: translateY(-200px);
    }
}
@keyframes xAs{
    50%{
          animation-timing-function: ease-in;
        transform: translateYd(200px);
    }
}

@keyframes goal{

    0%{transform: translate(390px,360px)}
    15%{transform: translate(370px,340px)}
        25%{transform: translate(350px,320px);
    }
    35%{transform: translate(280px, 250px)}
    50%{transform: translate(210px,135px)}
    65%{transform: translate(120px, 80px)}
    75%{transform: translate(20px,0px)}
    85%{transform: translate(-50px,50px)}
    95%{transform: translate(-65px,100px)}
    100%{transform: translate(-65px,300px)}
}

#game{
    display: flex;
    
}    

#hoop{
    transform: scale(-1,1);
    max-width: 275px;
}
#ball{
    width: 45px;
    height: 45px;

    animation-name: goal;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*Media queries*/
@media screen and (max-width: 760px) {
    html body{
        width: 100%;
    }
    main article{
        width: 100%;   
    }
    main aside {
        width: 100%;
        float: none;
    } 
    main aside.img{
        max-height: 250px;
        max-width: 250px;
    }
    .img{
        max-width: 100%;
    }
    
    h1#title{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 470px) {
    html body{
        line-height: 90%;
    }
   nav ul{
        display:list-item	;
           position: static;

    }
    nav ul li{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    nav ul li a{        
        display: block;
        padding-top:5px;
        padding-bottom:5px;
        padding-right: 0px;
        padding-left: 0px;
        border-bottom: 1px;
        font-size: 90%;
        
    }
     
    h1 a{
        clear: both;
        float: left;
    }
    img#logo{
        margin-top: 0px;
    
    max-width: 100%;
}
	.filler{
	display: block;
    max-width: 100%;
	}
    
}